{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "eslint-import-resolver-webpack",
    "prettier"
  ],
  "rules": {
    "import/extensions": 0,
    "react/jsx-filename-extension": 0
  }
}
